/* Reset */
html {
    height: 100%;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

/* App styles */
body {
    margin: 0;
    height: 100%;
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.container {
    /* 100% page height minux nav and footer heights */
    min-height: calc(100% - 94px);
    overflow: hidden;
}

/* Header styling */
nav {
    width: 100%;
    padding: 10px;
    background-color: #5e5e5e;
}

.article-search {
    position: relative;
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}

.article-search input,
.article-search .sort,
.article-search button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.article-search input {
    width: 530px;
    margin-right: 10px;
    background: #3f3f3f; /* dark grey */
}

.article-search input::placeholder {
    color: #fff;
}

/* Custom styling for the sort dropdown */
.article-search .sort {
    display: inline-block;
    position: relative;
    width: 140px;
    margin-right: 10px;
    background: #3f3f3f;
}

.article-search .sort:after {
    /* Arrow for the dropdown */
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.article-search select {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    cursor: pointer;
    /* Hide the default arrows */
    -moz-appearance: none;
    -webkit-appearance: none;
}

.article-search button {
    width: 140px;
    padding: 8px;
    background: #e50000;
    cursor: pointer;
}

/* Articles styling */
.article-results,
.error-message {
    width: 90%;
    min-width: 600px;
    max-width: 850px;
    margin: 30px auto;
    padding-left: 0;
    list-style-type: none;
}

.article-results .article {
    width: 49%;
    height: 500px; /* Make articles height consistent */
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    overflow: hidden;
}

.article-results .article:nth-child(2n+1) {
    margin-right: 2%;
}

.article-results .article img {
    max-width: 100%;
}

.article-results .article .content {
    padding: 25px;
}

.article-results .article h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.article-results .article p {
    margin-bottom: 20px;
    font-weight: 400;
}

.article-results .article a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background: #3f3f3f;
    color: #fff;
    border-radius: 3px;
    font-weight: 300;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #5e5e5e;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}
